@page "/borrow"

<h3>Borrow a Book</h3>
<p>@testVa</p>
@*
if logged in, then scanning textfield is available (need to figure out how to 'grey-out'/disable),
user scans book (type/paste in isbn and press enter),
confirm y/n,
	if no then break,
	if y then book borrow info is added to users account and summarized here (isbn, title, author, date borrowed, date due back)
*@

<div id="bab-scan">
	<p>Please scan the book's ISBN barcode</p>
	@*pressing 'enter' key after entering isbn will execute code defined at bottom, can just use a button if this doesn't work*@
	<input type="text" @onkeydown="@Enter" />
</div>

<div id="bab-table">
	<table>
		<thead>
			<tr>
				<th>ISBN</th>
				<th>Title</th>
				<th>Author</th>
				<th>Date Borrowed</th>
				<th>Date Due</th>
			</tr>
		</thead>
		<tbody class="bab-tbody">
			@*
				@foreach (var b in borrowList)
				{
					<tr>
						<td>@borrowList[0]</td> etc.
					</tr>
				}
			*@
		</tbody>
	</table>
</div>




@code {
	string testVa = Path.Combine(new DirectoryInfo(AppContext.BaseDirectory).Parent.Parent.Parent.Parent.Parent.FullName, "Database", "LibraryDatabase.db");

	public void Enter(KeyboardEventArgs e)
	{
		if (e.Code == "Enter" || e.Code == "NumpadEnter")
		{
			//stuff to execute for book borrow scan
		}

	}
}
