@page "/findbook"

<h3>Find a Book</h3>

@* Search fields *@
<div id="fab-search" class="flex">
	<p>Search by...</p>

	<div id="fab-titlesearch" class="flex">
		<label class="lcol">Title: </label>
		<input class="rcol" type="text"/>
	</div>

	<div id="fab-authorsearch" class="flex">
		<label class="lcol">Author: </label>
		<input class="rcol" type="text"/>
	</div>

	<div id="fab-isbnsearch" class="flex">
		<label class="lcol">ISBN: </label>
		<input class="rcol" type="text"/>
	</div>

	<button type="submit" class="submitbutton">Search</button>
</div>

@* Table listing results of the book search *@
<div id="fab-results">
	<table>
		<thead>
			<tr>
				<th>ISBN</th>
				<th>Title</th>
				<th>Author</th>
				<th>Status</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody class="fab-tbody">
			@*@foreach (var b in bookList)
				{
					<tr>
						<td>@bookList[0]</td etc
					</tr>
				}
			*@
		</tbody>
	</table>
</div>


@code {

}
