@page "/"

<h3>Welcome to Miskatonic Public Libraries!</h3>

<div id="ind-blurb">
	blurb about libraries (Miskatonic Public Libraries = fictional client)
</div>

<div id="ind-locations">
	location list (arkham downtown, arkham french hill, innsmouth, Ipswitch, Newburyport, Bolton, Gloucester)
</div>



