@page "/"

<h3>Welcome to Miskatonic Public Libraries!</h3>

<div id="ind-blurb">
	<p>Miskatonic Public Libraries is a network of seven libraries across coastal New England. Our collection includes books, periodicals, audio-visual materials, and digital resources, and our knowledgeable staff is always available to assist you. Our libraries are safe, welcoming spaces for people of all ages and backgrounds to explore, learn, and connect. Come visit us to discover why Miskatonic Public Libraries are an essential part of the New England community.</p>
</div>

<div id="ind-locations" class="flex">
	<div class="location flex">
		<h5>Arkham Downtown</h5>
		<p>123 Main Street</p>
		<p>Phone: (555) 123-4567</p>
		<p>Hours of Operation:<br>Mon-Fri: 9am-8pm<br>Sat-Sun: 10am-6pm</p>
	</div>

	<div class="location flex">
		<h5>Arkham French Hill</h5>
		<p>456 Elm Street</p>
		<p>Phone: (555) 234-5678</p>
		<p>Hours of Operation:<br>Mon-Fri: 10am-7pm<br>Sat-Sun: 11am-5pm</p>
	</div>

	<div class="location flex">
		<h5>Innsmouth</h5>
		<p>789 Ocean Drive</p>
		<p>Phone: (555) 345-6789</p>
		<p>Hours of Operation:<br>Mon-Fri: 8am-9pm<br>Sat-Sun: 9am-7pm</p>
	</div>

	<div class="location flex">
		<h5>Ipswitch</h5>
		<p>321 Maple Street</p>
		<p>Phone: (555) 456-7890</p>
		<p>Hours of Operation:<br>Mon-Fri: 9am-8pm<br>Sat-Sun: 10am-6pm</p>
	</div>

	<div class="location flex">
		<h5>Newburyport</h5>
		<p>567 State Street</p>
		<p>Phone: (555) 567-8901</p>
		<p>Hours of Operation:<br>Mon-Fri: 10am-7pm<br>Sat-Sun: 11am-5pm</p>
	</div>

	<div class="location flex">
		<h5>Bolton</h5>
		<p>246 Main Street</p>
		<p>Phone: (555) 678-9012</p>
		<p>Hours of Operation:<br>Mon-Fri: 8am-9pm<br>Sat-Sun: 9am-7pm</p>
	</div>

	<div class="location flex">
		<h5>Gloucester</h5>
		<p>345 Pearl Street</p>
		<p>Phone: (555) 789-0123</p>
		<p>Hours of Operation:<br>Mon-Fri: 9am-8pm<br>Sat-Sun: 10am-6pm</p>
	</div>

</div>


