@page "/stafflogin"

<h3>Staff Login</h3>

@*
if exception, then clear fields
if success, then redirect to StaffAccount page
*@

<div id="sli-email">
	<label>Email: </label>
	<input type="text" />
</div>

<div id="sli-password">
	<label>Password: </label>
	<input type="text" />
</div>

<button>Login</button>

@code {

}
