@page "/userlogin"

<h3>User Login</h3>

@*
if exception, then clear fields
if success, then redirect to UserAccount page
*@

<div id="uli-email">
	<label>Email: </label>
	<input type="text" />
</div>

<div id="uli-password">
	<label>Password: </label>
	<input type="text" />
</div>

<button>Login</button>

@code {

}
